body {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    justify-content: center;
}

.column {
    width: 100%;
    max-width: 60px;
    height: 290px;
    margin-left: 14px;
    background: #ffe5e6;
    display: inline-block;
}

.header {
    font-family: "Proxima Nova";
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    text-transform: uppercase;
}

.text {
    color: #9d9d9d;
    font-family: "Proxima Nova";
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
}

.tablet {
    width: 100%;
    max-width: 220px;
    height: 168px;
    text-align: center;
    padding-right: 40px;
}

.settings {
    width: 100%;
    max-width: 220px;
    height: 168px;
    text-align: center;
    padding-right: 35px;
    padding-left: 35px;
}

.dashboard {
    width: 100%;
    max-width: 220px;
    height: 168px;
    text-align: center;
    padding-left: 40px;
}

.svg-icons {
    margin-top: 8px;
}

.img-icons {
    width: 64px;
    height: 64px;
    border-radius: 40px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #1275b9;
    background-color: #1275b9;
    opacity: .7;
}

.list {
    display: flex;
    justify-content: center;
    margin-top: -240px;
}

.img-icons:hover {
    background-color:#fff;
}

.img-icons:hover .svg-icons {
    fill: #2a69a6;
}
















